.header {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    gap: 10px;
    height: 25%;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 1em;
}

.inputContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70px;
    padding: 5px;
    width: 100%;
}

.input {
    border-radius: 10px;
    font-size: 24px;
    height: 50%;
    padding: 10px;
    width: 90%;
}