.header {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 1em;
}

.inputContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 70px;
  padding: 5px;
  width: 100%;
}

.input {
  border-radius: 10px;
  border-color: #eee;
  font-size: 24px;
  height: 50%;
  padding: 10px;
  width: 90%;
}
