.header {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 1em;
}

.inputContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
  margin-top: 10px;
  min-height: 40px;
  padding: 5px;
  width: 100%;
}

.input {
  border-radius: 10px;
  border-color: #eee;
  font-size: 1.2rem;
  height: 100%;
  padding: 10px;
  width: 90%;
}

.enterButtonContainer {
  text-align: center;
  width: 100%;
}

