.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  justify-content: left;
  flex-wrap: wrap;
}

.headerTitle {
  text-align: right;
  padding-top: 2rem;
  font-size: 28px;
  color: rgb(41, 41, 41);
}

.instruction {
  font-size: 18px;
  color: rgb(41, 41, 41);
}

.inputContainer {
  align-items: center;
  display: flex;
  justify-content: left;
  height: 4rem;
  width: 100%;
}

.input {
  border-radius: 5px;
  border: 1px solid rgb(165, 165, 165);
  font-size: 1.2rem;
  height: 3rem;
  padding: 25px;
  width: 100%;
}
.input::placeholder {
  font-style: italic;
  color: rgb(169, 169, 169);
}
.input:focus {
  outline: none !important;
  border: 1px solid rgb(84, 84, 84);
}

.enterButtonContainer {
  text-align: right;
  margin-left: 1rem;
  padding: 25px 0 25px 25px;
}

.enterButton {
  font-size: 18px;
  border-radius: 5px;
  padding: 11.5px 30px;
  background-color: transparent;
  border: 1px solid grey;
  transition: all 0.4s;
  color: rgb(41, 41, 41);
}

.enterButton:hover {
  background-color: rgb(199, 251, 199);
}

@media only screen and (max-width: 1000px) {
  .enterButtonContainer {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .inputContainer {
    flex-wrap: wrap;
    height: 6rem;
  }
  .enterButtonContainer {
    margin-left: 0;
    padding: 0;
    margin-block: 10px;
  }
  .container {
    margin-bottom: 2rem;
  }
  .headerTitle {
    margin-bottom: 1rem;
  }
}
