.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  justify-content: left;
  flex-wrap: wrap;
}

.headerTitle {
  text-align: right;
  padding-top: 2rem;
  font-size: 28px;
  color: rgb(41, 41, 41);
}

.instruction {
  font-size: 18px;
  color: rgb(41, 41, 41);
}

.inputContainer {
  align-items: center;
  display: flex;
  justify-content: left;
  height: 3rem;
  margin-top: 10px;
  min-height: 40px;
  /* padding: 5px; */
  width: 100%;
}

.input {
  border-radius: 5px;
  border: 1px solid rgb(165, 165, 165);
  font-size: 1.2rem;
  height: 100%;
  padding: 25px;
  width: 100%;
}

.input:focus {
  outline: none !important;
  border: 1px solid rgb(84, 84, 84);
  /* box-shadow: 0 0 10px #98bfe8; */
}

.enterButtonContainer {
  text-align: right;
  margin-left: 1rem;
  padding: 25px 0 25px 25px;
}

.enterButton {
  font-size: 18px;
  border-radius: 5px;
  padding: 11.5px 30px;
  background-color: transparent;
  border: 1px solid grey;
  transition: all 0.4s;
}

.enterButton:hover {
  background-color: rgb(199, 251, 199);
}
