body {
    margin: 0;

    /* font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, sans-serif !important;
    background-color: #f2f2f2;
}

code {
    /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}

:root {
    --background: white;
    --text-primary: black;
    --navbar-shadow: rgb(0 0 0 / 13.3%);
    --text-secondary: rgb(195 195 195);
    --accent: rgb(188 241 188);
    --input-bg: white;
    --navbar-bg: white;
    --svg-filter: filter: invert(0%) sepia(5%) saturate(7479%) hue-rotate(294deg) brightness(94%) contrast(104%);
    --svg-filter-inverted: invert(100%) sepia(100%) saturate(1%) hue-rotate(29deg) brightness(107%) contrast(101%);
}

[data-theme="dark"] {
    --background: #1d1d1d;
    --text-primary: rgb(255 255 255 / 79%);
    --navbar-shadow: rgb(69 69 69 / 15.7%);
    --text-secondary: rgb(160 160 160);
    --accent: #9b6bba;
    --input-bg: rgb(32 32 32);
    --navbar-bg: #121212;
    --svg-filter-inverted: filter: invert(0%) sepia(5%) saturate(7479%) hue-rotate(294deg) brightness(94%) contrast(104%);
    --svg-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(29deg) brightness(107%) contrast(101%);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    padding: 0 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dadada;
}

::selection {
    background: rgb(255 221 45 / 32%);
}